@import 'variables';
@import 'https://fonts.googleapis.com/css?family=Poppins';

html,
body,
#root {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #000;
  color: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Poppins', 'DM Sans', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
