@use 'sass:color';
@import '../../sass/index.scss';

.button-container {
	display: block;
	padding: 16px 24px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	background-image: url(../../../public/assets/button-container.png);
	background-size: 100% 100%;
	animation: popup .4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
	box-shadow: $box-shadow;

	&.primary {
		background-color: $green;
		color: rgba($white, .7);
		border: none;

		&:hover {
			background-color: color.adjust($color: $green, $saturation: 10%);
		}
		&:disabled {
			background-color: color.adjust($color: $green, $saturation: -50%);
			color: $grey;
		}
	}

	&.secondary {
		background-color: $blue;
		border: none;
		color: rgba($white, .7);

		&:hover {
			background-color: color.adjust($color: $blue, $saturation: 10%);
		}
		&:disabled {
			background-color: color.adjust($color: $blue, $saturation: -50%);
			color: $grey;
		}
	}

	&.tertiary {
		background-color: $yellow;
		border: none;
		color: rgba($black, .7);

		&:hover {
			background-color: color.adjust($color: $yellow, $saturation: 10%);
		}
		&:disabled {
			background-color: color.adjust($color: $yellow, $saturation: -50%);
			color: $grey;
		}
	}

	&.danger {
		background-color: $red;
		border: none;
		color: rgba($white, .7);

		&:hover {
			background-color: color.adjust($color: $red, $saturation: 10%);
		}
		&:disabled {
			background-color: color.adjust($color: $red, $saturation: -50%);
			color: $grey;
		}
	}

	&:disabled {
		cursor: auto;
	}
}
