@import '../../sass/index.scss';

@keyframes bg-moving {
	from {
		background-position: 10%;
	}
	50% {
		background-position: 200% 0%;
	}
	to {
		background-position: 10%;
	}
}

.product-card-container {
	display: flex;
	min-width: max(12rem, 20vw);
	flex-direction: column;
	background-color: $blue;
	background-image: url(../../../public/assets/header-container.png);
	background-size: 250% 100%;
	background-position: 10%;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
	transform: scale(0.5);
	opacity: 0;

	&.active {
		transform: scale(1);
		opacity: 1;
	}

	&:hover {
		transform: scale(1.02);
		animation: bg-moving 15s linear infinite;
	}

	&:active {
		transform: scale(0.98);
	}

	&.sale {
		background-color: $green;
	}

	.sale-tag {
		display: flex;
		min-width: max(12rem, 20vw);
		position: absolute;
		align-items: center;
		justify-content: flex-end;

		.inner-tag {
			background-color: $red;
			font-weight: 800;
			padding: 0.2rem 0.5rem;
			font-size: max(0.9rem, 1.5vw);
		}
	}

	.image-container {
		// box-shadow: inset 0px -124px 132px -69px rgba(0,0,0,0.75);
		width: max(12rem, 20vw);
		height: max(12rem, 20vw);
		z-index: -2;
		box-shadow: $box-shadow;

		img {
			position: relative;
			width: max(12rem, 20vw);
			height: max(12rem, 20vw);
			z-index: -2;
		}
	}

	.product-info {
		// box-shadow: 0px -3px 39px 43px rgba(0,0,0,0.75);
		z-index: 1;
		display: flex;
		min-width: max(12rem, 20vw);
		flex-direction: column;
		min-height: max(4rem, 6vw);
		padding: max(0.3rem, 0.5vw) max(0.4rem, 0.6vw) 0.3vw;
		// gap: max(1.5rem, 2vw);
		justify-content: space-between;
		font-size: max(0.8rem, 1vw);

		white-space: break-spaces;

		.product-price-container {
			display: flex;
			flex-direction: row;
			gap: 1vw;
			color: $yellow;
			font-weight: 800;
			text-shadow: 1px 1px 2px black;

			.base-price {
				text-decoration: line-through;
				color: $red;
			}
		}
	}
}
