@import '../../sass/index.scss';

.product-card-container {
	display: flex;
	min-width: max(12rem, 20vw);
	flex-direction: column;
	background-color: $blue;
	background-image: url(../../../public/assets/header-container.png);
	background-size: 250% 100%;
	background-position: 50%;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
	transform: scale(0.5);
	opacity: 0;
	
	&.active {
		transform: scale(1);
		opacity: 1;
	}

	&:hover {
		transform: scale(1.05);
	}

	&.sale {
		background-color: $green;
	}

	.sale-tag {
		display: flex;
		width: 20vw;
		position: absolute;
		align-items: center;
		justify-content: flex-end;

		.inner-tag {
			background-color: $red;
			font-weight: 800;
			padding: 0.2rem 0.5rem;
			font-size: 1.5vw;
		}
	}

	img {
		width: max(12rem, 20vw);
		height: max(12rem, 20vw);
		box-shadow: $box-shadow;
	}

	.product-info {
		display: flex;
		flex-direction: column;
		padding: max(0.3rem, 0.5vw) max(0.4rem, 0.6vw) 0.3vw;
		gap: max(1.5rem, 2vw);
		justify-content: space-between;

		.product-price-container {
			display: flex;
			flex-direction: row;
			gap: 1vw;
			color: $yellow;
			font-weight: 800;
			text-shadow: 1px 1px 2px black;

			.base-price {
				text-decoration: line-through;
			}
		}
	}
}
