@import '../../sass/index.scss';

.size-viewer-container {
	width: 3rem;
	height: 3rem;
	border: 1px solid $yellow;
	background-color: transparent;
	color: $white;
	box-shadow: $box-shadow;
	font-weight: 800;

	&.clickable {
		cursor: pointer;
		transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				transform: scale(1.1);
			}
		}

		&.selected {
			background-color: $yellow;
			color: $black;
		}
	}
}
