@import '../../sass/index.scss';

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 6vw;
	margin-bottom: 8rem;

	.sale-image-container {
		// width: 100%;
		// height: 8rem;
		// background-image: url(../../../public/assets/hanncho-sale.png);
		// background-size: 100%;
		// background-position: 100% 100%;
		max-height: 40vw;
		overflow: hidden;
		img {
			max-width: 100%;
		}
	}

	.content {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.title {
		color: $white;
		text-align: left;
		font-size: max(1.5rem, 3.5vw);
		font-weight: 800;
	}

	.images-container {
		max-width: 100%;
	}

	.highlighted-products {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 0 6vw 10rem;
	}

	.hanncho-info {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 0 6vw;
		gap: 5vw;

		.text-container {
			display: flex;
			flex-direction: column;
			gap: 3vw;

			.text {
				font-size: max(.9rem, 1.3vw);
			}
		}

		img {
			width: 45vw;
			height: 100%;
		}

		@media screen and (max-width: 700px) {
			flex-flow: wrap;
			padding: 0;

			.text-container {
				padding: 0 6vw;
			}

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}
