@import '../../sass/index.scss';

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 6vw;
	margin-bottom: 8rem;
	padding: 0;

	.images-container {
		width: 100%;
	}

	.sale-image-container {
		animation: popup 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
		cursor: pointer;
		width: 100%;
		height: 50vmax;
		overflow: hidden;
		background-image: url(../../../public/assets/hanncho-sale.jpeg);
		background-size: 100vmax;
		background-position: 50% 0;
		background-repeat: no-repeat;
		box-shadow: $box-shadow;
		// transform: scale(100vw);
	}

	.content {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.title {
		color: $white;
		text-align: left;
		font-size: max(1.5rem, 3.5vw);
		font-weight: 800;
	}

	.products-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 0 0 0 6vw;
		overflow: hidden;
		gap: 2vw;

		.products-container-header {
			display: flex;
			flex-direction: row;
			width: 100%;
			align-items: center;
			justify-content: space-between;
			padding-right: 6vw;

			.slider-scroll-buttons {
				display: flex;
				flex-direction: row;
				gap: 5vw;
				height: 100%;
				align-items: center;

				.icon-button-container {
					img {
						width: max(0.8rem, 2vw);
						height: max(0.8rem, 2vw);

						&.arrow-to-left {
							transform: rotate(180deg);
						}
					}
				}
			}
		}

		.product-slider {
			display: flex;
			align-items: center;
			width: 100%;
			min-height: max(18rem, 30vw);
			justify-content: flex-start;
			flex-direction: row;
			gap: 2vw;
			overflow-x: scroll;
			white-space: nowrap;
			padding: 1vw;

			.show-all {
				display: flex;
				min-width: max(12rem, 20vw);
				align-items: center;
				justify-content: center;
				text-align: center;

				&.hidden {
					visibility: hidden;
					display: none;
				}
			}

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}

	.hanncho-info {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 0 6vw;
		gap: 5vw;

		.text-container {
			display: flex;
			flex-direction: column;
			gap: 3vw;

			.text {
				font-size: max(0.9rem, 1.3vw);
			}
		}

		img {
			width: 45vw;
			height: 100%;
		}

		@media screen and (max-width: 700px) {
			flex-flow: wrap;
			padding: 0;

			.text-container {
				padding: 0 6vw;
			}

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}
