@import '../../../sass/index.scss';

.stock-container {
	display: flex;
	align-items: center;
	justify-content: center;

	.content {
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		margin: 4rem;
	}

	.title {
		margin-bottom: 2rem;
		color: $white;
		text-align: center;
		font-size: 40px;
		font-weight: 800;
	}
}
