@import '../../../sass/index.scss';

.stock-dashboard-container {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	background-color: transparent;

	.content {
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		margin: 2rem 4rem;
		background-color: transparent;
		z-index: 2;
	}

	.title {
		margin-bottom: 2rem;
		color: $white;
		text-align: center;
		font-size: 40px;
		font-weight: 800;
	}

	.row-wrapper {
		display: flex;
		flex-direction: row;
		gap: 3rem;
	}

	.variant-list {
		display: flex;
		flex-direction: column;
		width: 70rem;
		align-items: center;
		overflow-y: scroll;
		height: 28rem;
		gap: 1rem;
		padding: 0.5rem;

		.variant-list-item {
			display: flex;
			padding: 0 2rem 0 0;
			width: 100%;
			border-radius: 1rem;
			text-align: left;
			align-items: center;
			transition: all 0.2s ease-in-out;
			animation: popup 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

			&.editing {
				outline: solid 2px $yellow;
				box-shadow: 0 0 10px $yellow, inset 0 0 10px $yellow;
				-webkit-animation: border-blink 1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
				animation: border-blink 1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
			}

			&:hover {
				background-color: #1f1f1f84;
				box-shadow: $box-shadow;
				.buttons-container {
					opacity: 1;
					.icon-button-container {
						img {
							transform: scale(1);
							opacity: 1;
						}
					}
				}
			}

			.main-image-container {
				display: flex;
				height: 8rem;
				box-shadow: $box-shadow;

				.main-image {
					width: 8rem;
					height: 100%;
					border-radius: 1rem;
				}

				.image-overlay {
					position: absolute;
					top: 4rem;
					left: 4rem;
					opacity: 0;
					transform: translate(-50%, -50%);

					img {
						height: 100%;
						max-height: 30px;
					}
				}

				&:hover .main-image {
					filter: blur(2px);
					opacity: 0.5;
					transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
					cursor: pointer;
				}

				&:hover .image-overlay {
					opacity: 1;
					transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
					cursor: pointer;
				}
			}

			.variant-color-content {
				width: 100%;
				display: flex;
				align-items: center;
				flex-direction: column;
				align-items: center;
				margin-left: 1rem;

				p {
					font-weight: 800;
					color: $yellow;
				}

				.color-viewer-container {
					width: 3rem;
					height: 3rem;
					align-self: center;
					margin-bottom: 0.5rem;
				}
			}

			.left-content {
				align-items: center;
				display: flex;
				width: 35%;
				gap: 1rem;
			}

			.price-content {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 20%;

				.price-title {
					font-weight: 800;
					color: $yellow;
				}

				.line-through {
					text-decoration: line-through;
					color: $red;
				}
			}

			.size-stock-content {
				display: flex;
				align-items: center;
				width: 60%;
				justify-content: center;
				gap: 0.3rem;

				.size-stock {
					display: flex;
					flex-direction: column;
					font-weight: 800;
					align-items: center;
					gap: 1rem;
				}
			}

			.buttons-container {
				align-items: center;
				display: flex;
				flex-direction: column;
				width: 5%;
				height: 100%;
				justify-content: space-evenly;
				align-items: flex-end;
				opacity: 0;
				transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

				.icon-button-container {
					img {
						margin-top: 0.3rem;
						width: 1.3rem;
						height: 1.3rem;
						transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
						transform: scale(0.7);
						opacity: 0;
					}
				}
			}
		}
	}

	.product-detail {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: 40%;

		.product-title {
			display: flex;
			flex-direction: row;
			align-items: baseline;
			gap: 0.5rem;
		}

		.product-name {
			font-size: 32px;
			font-weight: 800;
		}

		.product-category {
			color: $yellow;
			font-weight: 800;
		}
	}
}
