@import '../../sass/index.scss';

.shop-container {
	display: flex;
	align-items: center;
	justify-content: center;

	.content {
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		padding: 4vw 8vw;
		gap: 2vw;

		.filter-inputs {
			width: auto;
			display: flex;
			flex-direction: column;
			gap: 1vw;

			.filtering {
				width: auto;
				display: flex;
				flex-direction: row;
				gap: 3vw;
			}

			.organization {
				width: auto;
				display: flex;
				flex-direction: row;
				gap: 3vw;
			}
		}

		.products-catalog {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
			column-gap: 1vw;
			row-gap: 3vw;
		}
	}

	.title {
		margin-bottom: 2rem;
		color: $white;
		text-align: center;
		font-size: 40px;
		font-weight: 800;
	}
}
