@import '../../sass/index.scss';

.concrete-beam {
	max-width: 100%;
	min-height: max(3.5rem, 8vw);
	background-image: url(../../../public/assets/beam.png);
	background-size: auto 100%;
	background-position: 100% 100%;
	box-shadow: $box-shadow;
}