@import '../../sass/index.scss';

.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	max-width: 100%;
	max-height: max(4rem, 7vw);
	display: flex;
	align-items: center;
	justify-content: center;
	// backdrop-filter: blur(20px);
	// background-color: rgba(35, 35, 35, 0.683);
	// background-image: url(../../../public/assets/header-container.png);
	// background-size: 100%;
	// background-position: 100% 100%;
	z-index: 3;

	&.scrolling {
		animation: appear-down 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
		// backdrop-filter: blur(20px);
		background-color: $bg-color;
	}


	@media screen and (max-width: 500px) {
		
	}

	.left-content {
		width: 100%;
		padding: 1vw 0 1vw 4vw;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		.text-button-container {
			font-size: max(.8rem, 1.5vw);
		}
	}

	.right-content {
		width: 100%;
		padding: 1vw 4vw 1vw 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.cart-products-count-tag {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			width: 1.2rem;
			height: 1.2rem;

			transform: translate(50%, -100%);
			border-radius: 50%;
			background-color: $yellow;
			color: $black;
			font-weight: 800;
		}
	}
}
