@import '../../sass/index.scss';

.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	max-width: 100%;
	max-height: 7rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $black;
	background-image: url(../../../public/assets/header-container.png);
	background-size: 100%;
	background-position: 100% 100%;
	animation: appear-down .4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;


	@media screen and (max-width: 500px) {
		
	}

	.left-content {
		width: 100%;
		padding: 1rem 0 1rem 4rem;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.right-content {
		width: 100%;
		padding: 1rem 4rem 1rem 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}
